:host {
    display: block;
    height: 100%;
    overflow: hidden;
    /* Evita scroll doble */
}

/* Scrollbar personalizado para la tabla */
.table-responsive::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.table-responsive::-webkit-scrollbar-track {
    background: transparent;
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.table-responsive:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}

/* Fijar cabecera de tabla */
thead th {
    position: sticky;
    top: 0;
    background-color: #f8f9fa;
    /* bg-light */
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}